Source: mmpack-ci-server
Section: utils
Priority: optional
Maintainer: Nicolas Bourdaud <nicolas.bourdaud@gmail.com>
Build-Depends: debhelper (>= 10), dh-python,
 meson,
 python3:any,
 python3-yaml, python3-paramiko
Standards-Version: 4.5.0

Package: mmpack-ci-server
Architecture: all
Pre-Depends: ${misc:Pre-Depends}, adduser
Depends: mmpack-repo-tools (>= 0.3.0),
 mmpack-build (>= 0.7.0),
 ${misc:Depends}, ${python3:Depends}
Description: mmpack continuous integration server
 This package provides the infrastructure for handling the build,
 installation and removal of mmpack software packages.
 .
 This package contains the tools needed to update repository upon git repo
 update (master server)
