[Unit]
Description=MMPACK repository updater
After=network.target

[Service]
EnvironmentFile=/etc/default/mmpack-ci-server
ExecStartPre=/usr/bin/test -e $CONFFILE
ExecStart=/usr/bin/python3 /usr/share/mmpack-ci-server/main.py -c $CONFFILE
StandardOutput=null
StandardError=null
User=mmpack-builder
Restart=on-failure

[Install]
WantedBy=multi-user.target
